:root {
    --primary-color: #0d6efd;
    --bg-light: #f8f9fa;
    --dark-navy: #121417;

    --index-pure-black: #000000;
    --index-rich-black: #05070a;
    --index-nav-bg: #0a0c10;
    --index-card-bg: rgba(255, 255, 255, 0.03);
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-light);
}

.rounded-pill-custom {
    border-radius: 50px;
}